
<h1>Search Results</h1>
<table>
  <tr>
    <% @profiles.each do |profile| %>

    <th class = "span2"> <%= profile.firstname %> <%= profile.lastname %></th>
  </tr>

  <tr>
    <td><%= link_to image_tag(profile.img, id: "prof_img"),profile_path("#{profile.id}")  %></td>
    <td><%= profile.bio.html_safe %> </td>
  </tr>

  <% end %>
</table>


