# Ignore bundler config
/.bundle
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
solr/data
/solr/data
solr/data/**/*
solr/pids/**/*
solr/development
